
{% extends 'base.html' %}
{% load static %}
{% block title %}Contact{% endblock title %}
{% block contactactive %}active{% endblock contactactive %}
{% block body %}
	<!-- Home -->

	<div class="home">
		<div class="background_image" style="background-image:url(https://source.unsplash.com/1600x900/?paris,mobile)"></div>
	</div>
	<div class="container ">
		<div class="menu_social">
			<div class="text-dark h3 font-weight-bold pl-3" class="  ml-auto p-2">Follow Us</div>
				<ul class="d-flex flex-row align-items-start justify-content-start">
					<li>
					<a href="https://www.github.com"><i class="fa fa-github p-3"></i></a>
					</li>
					<li>
					<a href="https://www.facebook.com"><i class="fa fa-facebook p-3"></i></a>
					</li>
					<li>
					<a href="https://www.twitter.com"><i class="fa fa-twitter p-3"></i></a>
					</li>
					
				</ul>
		
			</div>
					
      	</div>
	</div>
	
								
	<!-- Contact -->

	<div class="contact">
		<div class="container">
			<div class="row">

				<!-- Get in touch -->
				<div class="col-lg-6">
					<div class="contact_content">
						<div class="contact_title font-weight-bold ">Get in touch with us</div>
						<div class="contact_text">
							<p>Do you have any question? Please feel free to contact with us.<br> We're waiting to hear you.</p>
						</div>
						<div class="contact_list">
							<ul>
								<li>
									<div>Address:</div>
									<div>1481 Creekside Lane Avila Beach, CA 931</div>
								</li>
								<li>
									<div>Phone:</div>
									<div>+53 345 7953 32453</div>
								</li>
								<li>
									<div>Email:</div>
									<div>yourmail@gmail.com</div>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Contact Form -->
				<div class="col-lg-6">
					<div class="contact_form_container">
						<form action="/contact/" method="post" id="contact_form" class="contact_form">
							{% csrf_token %}
							<div style="margin-bottom: 18px"><input type="text" class="contact_input contact_input_name inpt" id="name" name="name" placeholder="Your Name" required="required"><div class="input_border"></div></div>
							<div class="row">
								<div class="col-lg-6" style="margin-bottom: 18px">
									<div><input type="text" class="contact_input contact_input_email inpt" id="email" name="email" placeholder="Your E-mail" required="required"><div class="input_border"></div></div>
								</div>
								<div class="col-lg-6" style="margin-bottom: 18px">
									<div><input type="text" class="contact_input contact_input_subject inpt" id="subject" name="subject" placeholder="Subject" required="required"><div class="input_border"></div></div>
								</div>
							</div>
							<div><textarea class="contact_textarea contact_input inpt"id="message" name="message" placeholder="Message" required="required"></textarea><div class="input_border" style="bottom:3px"></div></div>
							<button class="contact_button">Send</button>
						</form>
						 
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock body %}